.request-pickup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh;
  flex-direction: column;
  background-color: #171717;
}

.request-pickup-container h1 {
  font-size: 5vh;

  margin-bottom: 4vh;
}

.request-pickup-container input {
  width: 100%;
}

.request-pickup-container {
  p {
    font-size: 2vh;
    color: rgba(221, 249, 233, 0.879);
    margin-bottom: 8px;
    padding-top: 2vh;
  }

  .image-container {
    border: 2px dashed #ccc;
    padding: 3vh;
    border-radius: 2vh;
    text-align: center;
    
  }
  .description-input {
    height: 10vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    color: #ffff;
    padding: 1vh;
    border-radius: 2vh;
  }

  .quantity-container input {
    width: 5vh;
    height: 5vh;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    text-align: center;
  }

  .address-input {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .date-picker-container {
    display: flex;
    flex-direction: row;
    padding: 2vh 0vh 2vh 0vh;
    text-align: left;
    p {
      min-width: 14vh;
    }

    .custom-date-picker {
      width: 100%;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: white;
      padding: 1vh;
    }
  }
}
.quantity-container button {
  border-radius: 2vh;
  width: 1vh;
  font-size: 1.3v;
  font-weight: bold;
  padding: 0vh;
  margin: 0vh 2vh 0vh 2vh;
  border-bottom: 0.1px solid white;
}

.container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  padding: 2vh 0vh 2vh 0vh;

  p {
    width: 18vh;
    padding-right: 3vh;
  }
  textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 1vh;
  }
  .category-input {
    width: 100%;
    font-size: 1vh;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
  }

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.form-container {
  display: flex;
  flex-direction: row;
  padding: 5vh;
  .column {
    margin: 0vh 10vh 0vh 10vh;
    flex-direction: column;
  }
}
.file-input {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.file-label span {
  font-size: 14px;
}

/* Styling for drag and drop area */
.file-input.drag-over {
  background-color: #f0f0f0;
}

.order-summary-container {
  padding: 20px;
  margin-top: 20px;
}

.order-summary-container p {
  font-size: 16px;
  margin-bottom: 8px;
}
.order-pickup-summary {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .order-summary-container {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin-top: 20px;
  }

  .order-summary-container p {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media (max-width:768px)
{
  .request-pickup-container{
    .form-container{
      display: flex;
      flex-direction: column;
    }

    .input-container{
      min-width: 52vh;
    }
  }
}