.otp-verification{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}

.otp-verification {
    text-align: center;
    
  }
  
  .gst-verification{
    text-align: center;
    padding: 2vh;
  
  }

  .gst-verification button{
    margin: 3vh;
  }

  /* Style for OTP input */
  input[type="text"].otp-input {
    width: 4vh;
    height: 5vh;
    font-size: 2.33vh;
    padding: 1vh;
    text-align: center;
    border: 0.3vh solid #ccc;
    box-shadow: 1px 1 1 1 ;
    /* border-radius: 3vh; */
    margin-right: 3vh;
  }
  
  input[type="text"].otp-input:focus {
    outline: none;

  }
  .otp-container{
    margin: 5vh;
  }

  .otp-confirm-msg{
   
    text-decoration: underline;
  }

  .enterprise-verification{
    
  }
  .enterprise-signup {
    color: white;
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #171717;
  
  .recaptcha-container{
      padding-top: 2vh;
  }
  
  form,main{
    background-color: #171717;
  }
    h1 {
      color: white;
      font-size: 12vh;
    }
    p {
      color: white;
    }
    input {
      background-color: #171717;
      border: none;
      color: white;
      padding: 1vh;
    }
    input:hover {
      border-bottom: 1vh white;
    }
  }
  