.otp-verification{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}

.otp-verification {
    text-align: center;
    
  }
  
  .gst-verification{
    text-align: center;
    padding: 2vh;
  
  }

  .gst-verification button{
    margin: 3vh;
  }

  /* Style for OTP input */
  input[type="text"].otp-input {
    width: 4vh;
    height: 5vh;
    font-size: 2.33vh;
    padding: 1vh;
    text-align: center;
    border: 0.3vh solid #ccc;
    box-shadow: 1px 1 1 1 ;
    /* border-radius: 3vh; */
    margin-right: 3vh;
  }
  
  input[type="text"].otp-input:focus {
    outline: none;
    border-color: #26FF00;
  }
  .otp-container{
    margin: 5vh;
  }

  .otp-confirm-msg{
   
    text-decoration: underline;
  }

  .enterprise-verification{
    
  }