
.home{
    display: flex;
    justify-content: center;
    align-items: center;
   overflow-x:  hidden;

   padding: 3vh;
}
.home {
    /* background-image: url("../../assets/images/home-bg.png"); */
    
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    
.btn-primary {
    background-color: #00bf00;
    font-family: Arial, Helvetica, sans-serif;
   
    text-transform: capitalize;
    padding:1vh 2.5vh 1vh 2.5vh;
    height: 6vh;
    width: 20vh;
    color: white;
    margin-top: 3vh;
    border-radius: 2.5vh;
    transition: 0.1s all linear; /* Moved transition here */
    text-align: left;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #33BF00;
    box-shadow: 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.6vh #00ff00, 0 0 2vh #00ff00, inset 0 0 0.1vh #00ff00; 
    
}
.btn-secondary {
   
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: large; */
    text-transform: capitalize;
    padding:1vh 2.5vh 1vh 2.5vh;
    height: 6vh;
    width: 20vh;
    color: white;
    margin-top: 3vh;
    border-radius: 2.5vh;
    transition: 0.1s all linear;
    text-align: left;
    font-weight: bold;
}

.btn-secondary:hover {
  
    box-shadow: 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.6vh #00ff00, 0 0 2vh #00ff00, inset 0 0 0.1vh #00ff00; 
}

}
.home-img{

    width: 60vh;
    animation: moveLeftRight 2s ease infinite alternate;
}


.home{
    .hero-content{
        display: flex;
        justify-content: center;  
        flex-direction: column;
        margin-left: 14vh;
        margin-top: 10vh;
    }

    .hero-content h1{
        font-size: 10vh;
        width: 85vh;
         font-family: Arial, Helvetica, sans-serif;
    }

    .hero-content p{
        font-size: medium;
        text-align: left;
        line-height: 1.8;
        color: rgba(240, 248, 255, 0.686);
        font-family: sans-serif;  
        width: 75vh;
        margin-top: 2vh;
    }
  
    .hero-content span{
        color:  #00c200;
        
     }
     
     .hero-content .buttons button{
         margin-top: 4vh;
         margin-right: 3vh;
     }
    
}






.responsive-home-img{
    display: none;
 }

 @keyframes moveLeftRight {
    100% {
        transform: translateX(2vh);
    }
    0% {
        transform: translateY(0vh); /* Adjust this value based on your preference */
    }
}
@media only screen and (max-width:768px){
    .home{
        flex-direction: column-reverse;
    }
    .home .hero-content{
        margin: 2vh;
        padding: 2vh;
        text-align: center;
        width: 100%;
        background-color:#171717;
        
        h1{
            width: auto;
        }
    }
    .home .hero-content p{
        width:100%;
    }
    .home{
        display: flex;
        
        width: 100%;
        /* padding: 1vh; */
        /* height: 100vh; */
    }
    body{
        overflow-x:hidden ;
    }
    .home-img{
       /* display: none; */
      height: 32vh;
      width: max-content;
    }
    .home .hero-content h1{
        font-size: 9vh;
        text-align: left;
    }
    .home .hero-content h1 span{
        background-color: rgba(0, 0, 0, 0);
        border-radius: 1vh;
        padding: 1vh;
    }
    .responsive-home-img {
        height: 32vh;
        width: 40vh;
        display: flex;
        animation: moveUpDown 2s ease infinite alternate; /* Animation properties */
    }
    
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(3vh); /* Adjust this value based on your preference */
        }
    }
    
}