.home{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 85vh;
}
.home{
    background-image: url("https://www.startpage.com/av/proxy-image?piurl=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Ftransparent-nature%2Ftransparent-nature-19.png&sp=1708412366Tb820907b74693c420b9a94a414129959eaa4719eb720c8b8dacbb91eb2bbf8e1");
    backface-visibility: 50%;
    
}

.home-img{
    /* height: 50vh; */
    width: 50vh;
    /* left:10vh */
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-direction: column;
    margin: 12vh;
    padding: 2vh;
}
.home .hero-content img{
    padding: 0;
    margin: 0;
    height: 26vh;
}
.hero-content{
   
}
.hero-content p{
    font-size: medium;
    text-align: center;
    line-height: 1.8;
    font-family: sans-serif;
    
}
.home .hero-content p{
    width: 135vh;
}
.hero-content span{
   color:  #00c200;
   text-decoration: underline;
}

.hero-content .buttons button{
    margin: 1vh;
}

@media only screen and (max-width:768px){
    
    .hero-content{
        margin: 2vh;
        padding: 2vh;
        text-align: center;
        width: 100%;
    }
    .home .hero-content p{
        width:100%;
    }
    .home{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    body{
        overflow-x:hidden ;
    }
    .home-img{
        display: none;
    }

}