.home{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 85vh;
}
.home {
    background-image: url("../../assets/images/home-bg.png");
    
    background-repeat: no-repeat;
    background-size: cover;
}


.home-img{
    /* height: 50vh; */
    width: 50vh;
    animation: moveLeftRight 2s ease infinite alternate; /* Animation properties */
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-direction: column;
    margin: 12vh;
    padding: 2vh;
}
.home .hero-content img{
    padding: 0;
    margin: 0;
    height: 26vh;
}
.hero-content{
   
}
.hero-content p{
    font-size: medium;
    text-align: center;
    line-height: 1.8;
    font-family: sans-serif;
    
}
.home .hero-content p{
    width: 135vh;
}
.hero-content span{
   color:  #00c200;
   text-decoration: underline;
}

.hero-content .buttons button{
    margin: 1vh;
}

.responsive-home-img{
    display: none;
 }

 @keyframes moveLeftRight {
    100% {
        transform: translateX(2vh);
    }
    0% {
        transform: translateY(0vh); /* Adjust this value based on your preference */
    }
}
@media only screen and (max-width:768px){
    
    .hero-content{
        margin: 2vh;
        padding: 2vh;
        text-align: center;
        width: 100%;
        background-color: rgba(240, 255, 248, 0.824);
        box-shadow: 0.2vh 0.1vh 0.3vh 0.1vh;
    }
    .home .hero-content p{
        width:100%;
    }
    .home{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* padding: 1vh; */
        height: 100vh;
    }
    body{
        overflow-x:hidden ;
    }
    .home-img{
       display: none;
    }
    .home .hero-content h1 span{
        background-color: rgba(0, 0, 0, 0);
        border-radius: 1vh;
        padding: 1vh;
    }
    .responsive-home-img {
        height: 32vh;
        width: 40vh;
        display: flex;
        animation: moveUpDown 2s ease infinite alternate; /* Animation properties */
    }
    
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(3vh); /* Adjust this value based on your preference */
        }
    }
    
}