.navbar{
    display: flex;
    flex-direction: row;

.nav-bar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    justify-content: start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: larger;
    font-weight: bold;
}

.logo-img{
    height: 10vh;
    margin-top: 3vh;
    margin-left: 15vh;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1vh;
}
a:hover{
    color: #E8DF55;
    text-decoration:none;
   border-radius: 2vh;
   box-shadow: 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.1vh #00ff00, 0 0 0.6vh #00ff00, 0 0 2vh #00ff00, inset 0 0 0.1vh #00ff00; 
   
}

.content-navbar{
    padding-top: 50px;
    padding-left: 20px; 
}
.content-navbar:hover{
    list-style: none;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




 


}