.Main_Container{
    display: grid;
    justify-items: center;
    grid-template-rows: [row1-start] 60px [row1-end] auto [last-line];
   
    
}
.waste-tags{
    background: rgba(108, 232, 116, 0.808);
box-shadow: 0 8px 32px 0 rgba(30, 165, 20, 0.662);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(64, 255, 0, 0.731);
padding:1vh;
margin: 1vh;
}

.request-list{
    display: grid;
    gap: 20px;
}
.Container{
    display: flex;
    grid-template-columns: repeat(3,0.75fr);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    object-fit: contain;
    border-radius: 2rem;
    padding: 20px;
}

.icon{
    height: 50px;
}
.processing-icon{
    background-color: rgb(234, 246, 185);
    border-radius: 15px;
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
}
.status{
    padding: 20px;
    display: grid;
    justify-items: center;
    
}

img{
    border-radius: 20px;
}
