.graph-container {
    height: 50vh; 
    margin: 1vh auto; 
    background: #FFFFFFD1;
    color: antiquewhite;
    box-shadow: 0 0 1vh #00ff00, 0 0 0.5vh #00ff00, 0 0 0.5vh #00ff00, 0 0 1vh #00ff00, 0 0 2vh #00ff00, inset 0 0 0.1vh #00ff00; 
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

   
  }

  