.sign-up-landing {
    display: flex;
    flex-direction: row;
    /* background-image: url("../../assets/images/sign-up-landing.jpg"); */
    background-size: cover;
    
}


.sign-up-landing h1 span{
    background-color: rgba(237, 239, 212, 0.715);
    padding: 1vh;
    border-radius: 1vh;
}
.sign-up-landing .column{
    width: 180vh;
}
.sign-up-landing .line{
    background-color: rgba(0, 0, 0, 0.637);
    width: 0.1vh;
   height: 50vmax;
}
@media only screen and (max-width: 768px) {
    .sign-up-landing{
        flex-direction: column;
    }
    .sign-up-landing .line{
        background-color: rgba(0, 0, 0, 0.637);
        width: 100%;
        height: 0vh;
    }
    .sign-up-landing .column{
        width: 100%;
        padding-bottom: 6vh;
    }
    .sign-up-landing .hero-content p{
        width: fit-content;
    }
    .hero-content{
        margin: 0 0 0 0;
        padding: 0;
    }
}